/** @format */

.action {
     width: 80%;
     margin: 40px auto;
     /* overflow: hidden; */
}

.action__title {
     text-align: center;
     font-weight: 100;
     font-size: 25px;
}

.action__description {
     font-size: 14px;
     text-align: center;
     line-height: 25px;
}

.action__list {
     padding: 20px 0;
     margin: 0;
     display: flex;
     overflow-x: scroll;
     width: 100%;
}

.action__list::-webkit-scrollbar {
     width: 8px;
     height: 4px;
     border-radius: 10px;
     background: #eee;
}

.action__list::-webkit-scrollbar-thumb {
     background: orange;
     border-radius: 10px;
     width: 100px;
}

.action__item {
     position: relative;
     width: 200px;
     border-radius: 2px;
     margin-right: 5px;
}

.action__cover {
     position: absolute;
     top: 50%;
     left: 0;
     height: 0;
     width: 100%;
     background: rgba(0, 0, 0, 0.9);
     border-radius: 2px;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     overflow: hidden;
     transition: 0.3s all;
}

.action__cover-title {
     font-size: 18px;
     font-weight: 100;
     text-align: center;
     margin: 0;
     padding: 0;
}

.action__item:hover .action__cover {
     height: 100%;
     top: 0;
}
