/** @format */

.banner {
     position: relative;
     height: 500px;
     width: 100%;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
}

.banner::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, 0.5);
}

.banner__content {
     color: #fff;
     position: absolute;
     top: 50%;
     left: 5%;
     transform: translateY(-50%);
}

.banner__title {
     font-weight: 100;
}

.banner__overview {
     width: 500px;
     font-weight: 100;
     line-height: 35px;
}

.banner__play {
     height: 35px;
     width: 100px;
     font-family: inherit;
     font-size: 15px;
     cursor: pointer;
     border-radius: 2px;
     background: none;
     color: #fff;
     border: 1px solid #fff;
}
