/** @format */

.genre {
     width: 80%;
     margin: 40px auto;
     overflow: hidden;
}

.genre__title {
     text-align: center;
     font-size: 25px;
     font-weight: 100;
}

.genre__list {
     position: relative;
     display: flex;
     width: 100%;
     align-items: center;
     overflow-x: scroll;
}

.genre__list::-webkit-scrollbar {
     width: 8px;
     height: 4px;
     border-radius: 10px;
     background: #eee;
}

.genre__list::-webkit-scrollbar-thumb {
     background: orange;
     border-radius: 10px;
     width: 100px;
}

.genre__item {
     padding: 0 20px;
     font-size: 14px;
     white-space: nowrap;
     transition: 0.3s all;
     cursor: pointer;
}

.genre__item:hover {
     background: #eee;
}

.genre__item:last-child {
     margin-right: unset;
}
